[submodule "server"]
	path = server
	url = https://github.com/vianneynara/wz-snack-n-bites-api.git
[submodule "client"]
	path = client
	url = https://github.com/Trustacean/WZ-Snack-n-Bites-Frontend.git
